$boxPosition_width: 283px;
$boxPosition_borderWidth: 2px;
$boxPosition_paddingWidth: 6px;
$boxPosition_shifts_top: -27px;
$boxPosition_shifts_right: 0px;
$boxPosition_shifts_bottom: -6px;
$boxPosition_shifts_left: -45px;
$boxPosition_bodyFontSize: 10px;
$boxPosition_blockSpacing: 10px;
$boxPosition_halfSpace: 5px;
$boxPosition_qartSpace: 2.5px;
$height_titleMainButtons: 208px;
$height_titleETC: 142px;
$height_subtitleETC: 60;
$height_toggleButton: 68px;
$C_COLORS_black: #000;
$C_COLORS_white: #FFF;
$C_COLORS_grey10: #222;
$C_COLORS_grey25: #444;
$C_COLORS_grey: #888888;
$C_COLORS_grey75: #BBBBBB;
$C_COLORS_grey90: #EEEEEE;
$C_COLORS_gold: #FFD700;
$C_COLORS_palegold: #FFE775;
$C_COLORS_silver: silver;
$C_COLORS_palesilver: #FFFFFF;
$C_COLORS_bronze: #CD7F32;
$C_COLORS_palebronze: #E6BF99;


div {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 0;
    border: none;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    overflow: hidden;
}
span {
    display: inline-block;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
}
p {
    display: block;
    margin: 6px 3px;
    font-size: $cssVars_bodyFontSize;
    font-family: Tahoma, sans-serif;
    line-height: #{1.5 * $cssVars_bodyFontSize};
    text-align: left;
}
pre {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', Input, monospace;
    font-size: 8px;
    font-weight: bold;
    background-color: $C_COLORS_grey75;
}
img {display: block}
a {
    display: inline-block;
    width: 90%;
    margin: 0;
    padding: 5px;
    background: none;
    color: $C_COLORS_black;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    vertical-align: inherit;
    text-decoration: none;
    outline: none;
    border: none;
}
h1 {
    display: block;
    height: 43px;
    width: $cssVars_boxPosition_width;
    margin: 20px 0 -10px -6px;
    font-family: Impact, sans-serif;
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
    color: $C_COLORS_black;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images/emphasis/h1Gold.png');
    background-size: cover;
    background-repeat: no-repeat;
}
h2 { /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit, */
    display: block;
    height: 26px;
    width: $cssVars_boxPosition_width;
    margin: 5px 0 0px -6px;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 23px;
    font-size: 16px;
    color: $C_COLORS_black;
    text-indent: 10px;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2Gold.png');
    background-repeat: no-repeat;
}
h3 {
    display: block;
    width: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 20px;
    margin: 0 0 9px 0;
    color: $C_COLORS_gold;
    text-indent: 4px;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h3BGBlack.png');
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), -1px -1px 2px rgb(0, 0, 0), -1px -1px 2px rgb(0, 0, 0), -1px -1px 2px rgb(0, 0, 0),
}
ol {
    font-size: $cssVars_bodyFontSize;
}
`,
/* #endregion Base Styles */
/* #region Class Styles */
`   .box {
    width: $cssVars_boxPosition_width;
    min-width: $cssVars_boxPosition_width;
    min-height: 39px;
    margin: $cssVars_boxPosition_shifts_top $cssVars_boxPosition_shifts_right $cssVars_boxPosition_shifts_bottom $cssVars_boxPosition_shifts_left;
    color: $C_COLORS_palegold;
    text-align: center;
    position: relative;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//bgChatGold.png');
    background-size: 100%;
    box-shadow: inset 0 0 5px $C_COLORS_black, inset 0 0 5px $C_COLORS_black, inset 0 0 5px $C_COLORS_black;
}
.box.silver {
    color: $C_COLORS_white;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//bgChatSilver.png');
}
.box.bronze {
    color: $C_COLORS_palebronze;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//bgChatBronze.png');
}
.block {
    min-width: #{$cssVars_boxPosition_width - 24px};
    margin: 2px 0 0 0;
    padding: 0 6px;
    text-align: left;
    color: inherit;
}
.block.silver {color: $C_COLORS_white;}
.block.titleButtons {
    width: 40px;
    min-width: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -165px;
    left: 240px;
}
.title {
    width: 100%;
    margin: 0 0 -30px 0;
    color: $C_COLORS_black;
    font-family: Impact, 'sans-serif';
    line-height: 36px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//titleMainButtons.png');
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-position: center 3px;
}

.title.main {
    height: $height_titleMainButtons;
    background-size: 280px;
}
.title.etc {
    height: $height_titleETC;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//titleETC.png');
    background-size: 280px;
    margin-bottom: -65px;
}
.subtitle {
    width: 100%;
    margin: 0 0 -30px 0;
    padding: 17px 0 0 0;
    color: $C_COLORS_black;
    font-family: Impact, sans-serif;
    line-height: 36px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//subtitleSilverETC.png');
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-position: center 3px;
}
.subtitle.etc {
    height: $height_subtitleETC;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//subtitleSilverETC.png');
    background-size: 280px;
}
.flag {
    margin: 0;
    text-align: left;
    text-indent: 30px;
}
h1.flag {
    height: 31px;
    line-height: 29px;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h1FlagGold.png');
}
h1.dim {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h1GoldDim.png')}
h1.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h1Silver.png')}
h1.silver.dim {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h1SilverDim.png')}
h1.bronze {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h1Bronze.png')}
h1.bronze.dim {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h1BronzeDim.png')}
h1.flag.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h1FlagSilver.png')}
h1.tight {
    height: 28px;
    margin-top: 2px;
    margin-bottom: 0px;
}
h2.flag {
    height: 24px;
    line-height: 21px;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2FlagGold.png');
    background-position: center -2px;
}
h2.dim {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2GoldDim.png')}
h2.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2Silver.png')}
h2.silver.dim {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2SilverDim.png')}
h2.bronze {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2Bronze.png')}
h2.bronze.dim {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2BronzeDim.png')}
h2.flag.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//h2FlagSilver.png')}
.commandHighlight {
    margin: 0 3px;
    padding: 3px 8px 0 6px;
    color: $C_COLORS_black;
    font-family: monospace;
    font-weight: bolder;
    text-shadow: 0 0 1px $C_COLORS_black;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//commandGold.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.commandHighlight.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//commandSilver.png')}
.commandHighlight.bronze {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//commandBronze.png')}
.commandHighlight.shiftLeft {
    margin: 0 0 0 -20px;
    padding-right: 17px;
    text-align: right;
    text-indent: 14px;
    background-position: right;
}
.footer {
    height: 37px;
    margin: 6px 0 0 0;
    background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//footerGold.png');
    background-size: 280px;
    background-repeat: no-repeat;
    background-position: center -2px;
    font-weight: normal;
}
.footer.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//footerSilver.png')}
.footer.hideIntro {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//footerHideIntroGold.png')}
.footer.goBack {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//footerGoBackGold.png')}
.footer.goBack.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//footerGoBackSilver.png')}
span.buttonLabel {
    display: inline-block;
    min-width: 50px;
    text-indent: 0;
    text-align: center;
}
span.buttonDesc {
    display: inline-block;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 2px;
    text-indent: 0px;
}
a.button {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0; padding: 0;
    text-align: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: inherit;
    color: inherit;
}
span.buttonRound {
    height: 50px;
    width: 50px;
    margin: 0 15px;
}
span.buttonRound.titleButtons {
    height: 37px;
    width: 40px;
    margin: 0;
}
span.buttonRound.download {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//buttonDownload.png')}
span.buttonRound.chat {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//buttonChat.png')}
span.buttonRound.bug {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//buttonBug.png')}
div.block.toggleButton {
    height: $height_toggleButton;
    margin: 5px 0 5px -6px;
    padding: 0 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
div.block.toggleButton.toggleOn {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//toggleButtonOnGold.png')}
div.block.toggleButton.toggleOff {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//toggleButtonOffGold.png')}
div.block.toggleButton.toggleOn.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//toggleButtonOnSilver.png')}
div.block.toggleButton.toggleOff.silver {background-image: url('https://raw.githubusercontent.com/Eunomiac/EunosRoll20Scripts/master/images//toggleButtonOffSilver.png')}
div.toggleButtonTitle {
    display: inline-block;
    width: 185px;
    font-family: Impact, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: $C_COLORS_black;
    text-transform: uppercase;
    vertical-align: top;
}
div.toggleButtonBody {
    display: inline-block;
    height: 40px;
    width: 160px;
    font-family: 'Tahoma', sans-serif;
    font-size: $cssVars_bodyFontSize;
    color: $C_COLORS_black;
    line-height: 14px;
    font-weight: bold;
}
div.toggleButtonRight {
    display: inline-block;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    vertical-align: top;
}
.alignLeft {text-align: left}